.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  min-height: 100vh; 
}

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
  border-radius: 0.7rem;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #0e5696;
  color: white;
  border-top-left-radius: .7rem;
  border-bottom-left-radius: .7rem;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  color: #0e5696;
}

.choice-container.correct {
  background-color: #39e361;;
  color: white;
}

.incorrect.choice-container {
  background-color: #f13ca0;;
  color: white;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
  color: #0e5696;
}

.hud-main-text {
  text-align: center;
}

#timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

#timer {
  font-size: 2rem;
  font-weight: bold;
  color: #0e5696;
}

#feedback {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #a7a4a4;
  margin-top: 1rem;
}


#feedback.running-out {
  color: #d80c0c;
}

/* LOADER */
#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #0e5696;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}
#readyBtnStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 20vw;
  border-radius: 70px 70px 100px 100px;
  background: linear-gradient(
    45deg,
    #6999c4,
    #1480e0
  );
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 10px;
}

.difficulty-btn {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #0e5696;
  font-weight: bold;
}

.difficulty-btn:hover {
  opacity: 0.8;
}

.hidden {
  display: none!important;
}

.modal-content p{
  text-align: center;
  color: #0e5696;
  font-size: 1.6rem;
}

.waitingText {
  font-size: 2rem;
  color: #0e5696;
  font-weight: bold; 
  text-align: center;
  margin-block: 40px;
}

.ready-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.readyBtn{
  margin-block: 1rem 2.6rem;
  font-size: 1.6rem;
  height: 70px;
  width: 120px;
  border-radius: 70px 70px 100px 100px;
  background: linear-gradient(
    45deg,
    #6999c4,
    #1480e0
  );
  color: white;
  cursor: pointer;
}

.ranking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 300px;
  margin: 80px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ranking h2 {
  font-size: 2.4rem;
  color: #0e5696;
  margin-bottom: 10px;
}

.ranking ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ranking ol li {
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  color: #0e5696;
  font-size: 2rem;
}

.ranking ol li:last-child {
  margin-bottom: 0;
}

.home-btn{
  height: 50px;
  width: 100px;
  border-radius: 70px 70px 100px 100px;
  background: linear-gradient(
    45deg,
    #6999c4,
    #1480e0
  );
  color: white;
  cursor: pointer;
  font-size: 1.6rem;
}


